* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', serif;
  background-image: url(img/cathy14.jpg);
  background-color: #a8bce1;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 18px;
}

.highlight {
  background-color:
}

h1 {
  text-align: center;
  margin: .75em;
  font-size: 40px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3em;
}

h2.about {
  margin-top: 1.4em;
}

.none {
  background-color: none;
}

/* mobile */
@media only screen and (max-width: 400px) {
  h2, p, .center-text, figcaption, .song, iframe {
    padding-top: 1em;
    padding-left: 2em;
    padding: 10px;
    margin: auto;
    width: 100%;
    background-color: #eae3bc;opacity:0.8;
  }
}
/*tablet*/
@media only screen and (min-width: 401px) and (max-width: 960px) {
  h2, p, .center-text, figcaption, .song {
    padding-top: 1em;
    padding-left: 2em;
    padding: 10px;
    margin: auto;
    width: 75%;
    background-color: #eae3bc;opacity:0.8;
  }
}

/* desktop */
@media only screen and (min-width: 961px) {
  h2, p, .center-text, figcaption, .song {
    padding-top: 1em;
    padding-left: 2em;
    padding: 10px;
    margin: auto;
    width: 50%;
    background-color: #eae3bc;opacity:0.8;
  }
}

h2 {
  text-align: center;
}

h1 {
  text-align: center;
  margin: .75em;
  font-size: 40px;
}

input.checkbox {
  margin-left: 1em;
  margin-top: .5em;
  margin-right: 1em;
  width: 13px;
  height: 13px;
  vertical-align: middle;
  position: relative;
  text-align: center;
}

.song {
  display: flex;
  justify-content: center;
  background-color: #EAE3BC;
}

h1.big {
  font-size: 36px;
}

mark {
  background-color: #eae3bc;
  padding: .2em;
}

nav {
  text-align: center;
}

.nav-active {
  font-weight: bold;
  text-decoration: underline;
}

a:visited {
  color: #dfdb7d;
  text-decoration: none;
}

a {
  text-decoration: none;
  padding-left: 1.25em;
  font-weight: bold;
  color: #dfdb7d;
}

.heading {
  text-align: center;
}

li {
  display: inline;
  float: center;
}

.translate {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-size: .8em;
  text-align: center;
}

.center-photo {
  display: block;
  background-color: #2754ce;
  align-items: center;
  align-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.center-text {
  text-align: center;
}

.align {
  display: inline-block;
  text-align: left;
  padding-top: 0;
}

.responsive {
  width: 60%;
  max-width: 400px;
  background-color: #eae3bc;opacity:0.8;
  height: auto;
}

.btn {
  border-color: #2754ce;
  background-color: #dfdb7d;
  color: #2754ce;
  font-size: 16px;
  font-family: 'Poppins', serif;
  text-align: center;
  display: block;
  padding: 15px 30px;
  font-weight: bold;
  margin: 0 auto;
  margin-top: .8em;
  box-shadow: 0;
  margin-bottom: .8em;
}

.btn:hover {
  border-color: #dfdb7d;
  background-color: #2754ce;
  color: #dfdb7d;
}

ul {
  background-color: #2754ce;
  color: white;
  float: none;
  position: relative;
  top: 0;
  left: 0;
  transform: none;
  padding: 1em;
}

/* grid */
.container {
  display: grid;
  grid-template-columns: 100px 1fr 1fr 150px;
  grid-template-rows: repeat(3, minmax(100px, max-content));
}

a.inline {
  padding-left: 0;
  color: #2754ce;
}
a:hover.inline, a:active.inline {
  padding-left: 0;
  color: #2754ce;
  text-decoration: underline;
}

/* dropdown menu */
.dropbtn {
  background-color: #2754ce;
  color: white;
  font-size: 18px;
  border: none;
  font-family: 'Poppins', serif;
  font-weight: bold;
  color: #dfdb7d;
}

.dropdown {
  position: relative;
  display: inline-block;
  font-family: 'Poppins', serif;
}

.dropdown-content {
  display: none;
  position: absolute;
  color: #dfdb7d;
  background-color: #2754ce;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: #dfdb7d;
  padding: 0px 0px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}
